@media (min-width:40rem) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }
    nav a {
        padding: 1rem 1.5rem;
    }
    main {
        max-width: 960px;
    }

    #temple-photos {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #menu {
        display:flex;
    }

    .navigation {
        flex-direction: row;
        justify-content: center;
    }

    .navigation a {
        display: block;
    }
}