@media screen and (min-width:580px){
    
    .hamburger{
        display: none;
    }
    header nav{
        display: flex;
    }
    main section{
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

    }
    .menu{
        display: none;
    }
}