*{
margin: 0px;
padding: 0px;
}

body{
    position: relative;
    font-family: "Roboto", sans-serif;
     font-weight: 400;
}

header,footer{
    color: white;
    background-color: #04724D;
  
    width: 100%;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    padding: 2rem;
    z-index: 1000;
}
.hamburger{
    width: 1.7rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    right: -1.5rem;
}
.hamburger span{
    display: block;
    width: 100%;
    height: .25rem;
    background-color: white;
}
.hamburger.active span:nth-child(1){
    transform: rotate(45deg) translateY(0.6rem);
}
.hamburger.active span:nth-child(2){
    opacity: 0;
}
.hamburger.active span:nth-child(3){
    transform: rotate(-45deg) translateY(-0.6rem);
}
.menu{
    height: 100vh;
    width: 20rem;
    background-color: #04A777;
    position: fixed;
    top: 5.55rem;
    right: -20rem;
     /* z-index: 1000; */
      transition: right 0.3s ease;
      box-sizing: border-box;
}
.menu.active {
  right: 0;             
}

.menu ul {
  list-style: none;
  padding: 0rem 1rem;
  margin: 0;
}

.menu li {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.menu li:hover{
    border-bottom: 1px solid antiquewhite;
   
}


header nav{
    display: none;
    
}
header ul{
    display: flex;
    gap: 2rem;
}
header li{
    list-style: none;
    height: 100%;
}
header a{
    text-decoration: none;
    color: white;
    padding: .5rem;
    
}
header a:hover{
    border-bottom: 2px solid antiquewhite;
    border-radius: 5px;
    
}
header span{
    font-size: 1.5rem;
    font-weight: 700;
}

main { 
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  
}
main section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 50%;
  
}
main h1{
    font-weight: 700;
    color: black;
    text-align: center;
    padding: 1.5rem;
}
img{
    display: flex;
    object-fit:cover;
    width: 30%;
    height: auto;
    border: 1px solid rgb(0 0 0/.2);
    padding: .1rem;
}
figure{
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 30px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
figcaption{
    text-align: center;
    padding: .5rem 0;
}

footer p{
    text-align: center;
}
footer{
    margin-top: 3rem;
      padding: .5rem 1rem;
}